.PreviewNewsletter {
    width: 100%;
    margin: auto;
}
.PreviewNewsletter hr{
    width: 100%;
}

#contentIframe {
    max-width: 850px;
}

.joint-button-left {
    margin-right: 0px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0px !important;
    padding-bottom: 2px !important;
    padding-top: -2px !important;
}

.joint-button-right {
     margin-left: 0px !important;
     padding-left: 12px !important;
     padding-right: 12px !important;
     /* padding-top: 1px !important; */
     padding-bottom: 2px !important;
     border-bottom-left-radius: 0px !important;
     border-bottom-right-radius: 4px !important;
     border-top-left-radius: 0px !important;
     border-top-right-radius: 4px !important;
 }

.settings-icon {
    /* margin-top: 4px;
    margin-bottom: -3.8px; */
    font-size: 1rem !important;
}

.send-newsletter-button {
    padding-bottom: 2px;
    padding-top: -2px;
}

.send-buttons {
    margin-bottom: 10px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.NewsletterInfo {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.newsHeader {
    color:#32742C;
    font-size:1.2em;
}

.emailAddr h1, h2{
    font-size:24px;
}
.emailAddr div{
    text-align: center;
    /* padding-left:60px; */
}

.emailAddr input{
    width:250px;
    height:20px;
}